@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-b from-[rgb(248,253,2)] to-[rgb(79,134,242)] bg-clip-text text-transparent;
  }
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6fd;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
body.lock {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
  -ms-touch-action: none;
}

.summary-icon {
  transition: transform 0.3s ease;
}

details[open] .summary-icon {
  transform: rotate(45deg);
}
