.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::before {
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgb(33, 107, 226);
  border-radius: 50%;
  transition:
    width 0.5s,
    height 0.5s;
}

.ripple:hover::before {
  width: 300px;
  height: 300px;
}
